<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/searchobject" method="post" enctype="multipart/form-data">
  <input type="file" id="myFile" name="searchfilename" required>
  <label for="label">Choose a Label:</label>
  <select name="label" id="label" required>
    <option value="person">person</option>
    <option value="car">Car</option>
    <option value="bus">Bus</option>
    <option value="knife">knife</option>
    <option value="bicycle">bicycle</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>